body {
  font: 14px "Century Gothic", Futura, sans-serif;
  margin: 20px;
  background-color: #d1c1e6;
}

ol, ul {
  padding-left: 30px;
  font-family: Brush Script MT, Times New Roman, Georgia, Courier New;
}

.board-row:after {
  clear: both;
  content: "";
  display: table;
}

.status {
  margin-bottom: 10px;
}

.square {
  background: #fff;
  border: 1px solid #fff;
  float: left;
  font-size: 24px;
  font-weight: bold;
  line-height: 34px;
  height: 34px;
  margin-right: -1px;
  margin-top: -1px;
  padding: 0;
  text-align: center;
  width: 34px;
  background-color: #231942;
}

.square:focus {
  outline: none;
}

.kbd-navigation .square:focus {
  background: #fff;
}

.game {
  display: flex;
  flex-direction: row;
  justify-content: center;
}

.game-info {
  margin-left: 20px;
}

button{
    border-radius: 5px;
    color:white;
    background-color: #231942;
}

